@model UserViewModel

<div class="row">
    <div class="col-6">
        <div style="margin-top:10px">
            <p>Имя пользователя: @Model.Login</p>
        </div>
        <button class="btn btn-dark dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Действия
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @* <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-login="@Model.Login">
                Смена пароля
            </a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="EditData" asp-route-login="@Model.Login">
                Редактирование данных
            </a> *@
            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangeRole" asp-route-login="@Model.Login">
                Смена роли
            </a>
            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-login="@Model.Login">
                Удалить
            </a>
        </div>
    </div>
</div>